@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,900&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h1, h2{
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;

    margin-left: 30px;
}

/* navigations links */

#menu{
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
   border-bottom: 1px solid #252525; 
}

.active{
    border-bottom: 1px solid #252525;  
}

/* hero image */

#hero-outer{
    height: 850px;
    width: 100%; 
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text h3{
    font-weight: 400;
}

#hero-image{
    height: 850px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat;

    /* animated zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text{
    font-size: 130%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    width: 440px;
    height: 180px;
    border-radius: 3px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(78, 226, 110, 0.692);

    bottom: 300px;
    left: 300px;

    position: absolute;
}

/* hercules-services */
 
#hercules-services{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

hr{
    border-top: 1px solid #969696;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading{
    width: 60%;
    float: right;
    line-height: 15px;
    margin-bottom: 40px;
}

.right-about-heading{
    width: 60%;
    float: left;
    line-height: 15px;
    margin-bottom: 40px;
}

.right-about-heading, .left-about-heading h2{
    text-align: center;
}

.right-about-heading, .left-about-heading p{
    text-align: center;
}

#our-services{
    text-align: center;
    margin: 30px 0;
    font-size: 280%;
}

#circle-container{
    width: 320px;
    height: 320px;
    padding: 30px;
    border-style: solid;
    border-color: #969696;
    border-width: 1px;
    border-radius: 50%;

    margin: 0 auto;
}

#circle-cover-bg{
    background: url('../images/our-services.jpg') no-repeat center center;
    height: 100%;

    border-radius: 50%;
}

/* workout programs */

#workout-programs{
    background-image: url('../images/workout-programs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#workout-programs div{
    color: #fff;
    width: 20%;
    height: 200px;
    float: left;

    padding: 40px 0;
    text-align: center;
}

.w-prog-h2{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 280%;
}

#workout-programs div h2{
    color: #fff;
    padding-bottom: 20px;
}

#workout-programs div h3{
    padding-bottom: 10px;
}

/* footer */

footer{
    height: 100px;
}

.social-links{
    text-align: center;
}

.social-links > li{
    display: inline;
}

.social-links i{
    font-size: 180%;
    margin: 1%;
    padding: 4%;
    color: #252525;

    transition: 0.4s;
}

.social-links i:hover{
    color:#969696;
}

/* gallery */

#gallery{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img{
    width: 100%;
}

/* sign up form */







/* media queries */

/* For larger to medium screns size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #hercules-services{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #our-services{
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #workout-programs > div{
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    hr{
        display: none;
    }
}

/* For medium sizes from 950px wide and down */
@media screen and (max-width: 950px){
    #menu{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left: 20px;
    }

    /* hero image */

    #hero-image{
        height: 850px;
        width: 100%;
        background: url('../images/hero-image2.jpg') no-repeat;
    
        /* animated zoom effect on loading page */
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
    
    /* creates the level of zoom for hero image */
    
    @keyframes hero-zoom{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
    }

    #hercules-services{
        width: 60%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    #gallery{
       column-count: 3; 
    }
}

/* For small sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #gallery{
        column-count: 2; 
     }
}


